<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bootstrap.min.css">
</head>

<body class="bg-dark text-light">

<div class="container mt-3">

    <h2 class="text-center">🍺 Brau GUI</h2>

    <div class="row mt-4">

        <div class="col-12 col-md-6 mb-3">
            <p>Temperatur</p>
            <span class="badge bg-info fs-3">65.0 °C</span>
        </div>

        <div class="col-12 col-md-6 mb-3">
            <button class="btn btn-success btn-lg w-100">
                Start
            </button>
        </div>

    </div>

    <form class="mt-4">
        <input class="form-control mb-2" type="text" placeholder="Rezeptname">
        <input class="form-control mb-2" type="number" placeholder="Solltemperatur">
        <button class="btn btn-primary w-100">
            Rezept speichern
        </button>
    </form>

</div>

</body>
</html>